@model Angle.Models.EventModel

@{
    ViewData["Title"] = "Event";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Create Event</h1>

<div class="col-md-10 offset-md-1">
    <section>

        <span class="col-md-6">
            @using (Html.BeginForm("EventAdd", "Event", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <center>


                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="col-md-6">


                        <label for="UserName">User Name*:</label>
                        <input type="text" name="EventsName" value="@Context.Session.GetString("UserName")"
                               class="form-control" disabled><br><br>


                        <label for="EventsName">Event Name*:</label>
                        <input type="text" name="EventsName" asp-for="Eventmodel.EventsName" class="form-control"
                               required><br><br>
                        <span asp-validation-for="Eventmodel.EventsName" class="text-danger"></span>



                        <label for="EventTypesId">Event Type*:</label>

                        <select name="EventTypesId" id="EventTypesId" class="form-control" required>

                            @foreach (var item in Model.EventTypes)
                            {
                                <option value="@item.EventTypesId">
                                    @item.EventTypesName
                                </option>
                            }
                        </select><br><br>
                        <label for="CategoryId">Event Categories*:</label>

                        <select name="CategoryId" id="CategoryId" class="form-control" required>
                            @foreach (var item in Model.Categories)
                            {
                                <option value="@item.CategoryId">
                                    @item.CategoryName
                                </option>
                            }
                        </select><br><br>

                        <label for="IsItFree">Is it Free?*:</label>

                        <select name="IsItFree" id="IsItFree" class="form-control" required>
                            <option value=true>Yes</option>
                            <option value=false>No</option>
                        </select><br><br>

                        <label for="EventLevelId">Event Level*:</label>

                        <select name="EventLevelId" id="EventLevelId" class="form-control" required>

                            @foreach (var item in Model.EventLevels)
                            {
                                <option value="@item.EventLevelId">
                                    @item.EventLevelName
                                </option>
                            }
                        </select><br><br>

                        <label for="ParticipantNumber">Maximum Participants*:</label>
                        <input type="number" name="ParticipantNumber" asp-for="Eventmodel.ParticipantNumber" class="form-control"
                               required>
                        <br><br>

                        <label for="StartDate">Starting Date*:</label>
                        <input type="datetime-local" name="StartDate" placeholder="Start Date"
                               asp-for="Eventmodel.StartDate" class="form-control" required><br><br>



                        <label for="EndDate">Ending Date*:</label>
                        <input type="datetime-local" name="EndDate" placeholder="End Date" asp-for="Eventmodel.EndDate"
                               class="form-control" required><br><br>

                        <br><br>

                        <i class="fas fa-user-circle fa-9x text-secondary" style='background: #6d5f5f'></i><br><br>
                        <label for="ImageFileName">File Name:</label><br>
                        <input type="text" name="ImageFileName" asp-for="Images.ImageFileName" accept="image/*"><br><br>
                        <span asp-validation-for="Images.ImageFileName" class="text-danger"></span>
                        <label for="ImageId">Upload:</label><br>
                        <input type="file" name="ImageFileData" asp-for="Eventmodel.ImageFileData" accept="image/*"><br><br>



                        <label for="EventsDescription">Event Description*:</label>

                        <textarea name="EventsDescription" placeholder="Event Description" cols="40" rows="5"
                                  maxlength="500" asp-for="Eventmodel.EventsDescription" class="form-control"
                                  required></textarea><br><br>

                        <button type="submit"
                                style="color: #fff; background-color: #10244c; padding: 0.5rem 6rem; border-color: #10244c "
                                class="btn btn-primary">
                            Save
                        </button>
                    </div>


                </center>
            }
        </span>

    </section>
</div>
