@*@model Angle.Models.SliderSettingsModel
        @{
            ViewData["Title"] = "SliderSettings2";
            Layout = "~/Views/Shared/_Layout.cshtml";
        }
        <h1>Slider Settings:</h1>
    ﻿@model Angle.Models.SliderSettingsModel
    @{
        ViewData["Title"] = "SliderSettings2";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
    <h1>Slider Settings:</h1>

    <h2>Settings:</h2>

    <table class="table">
        <thead>
            <tr>
                @*<th>
                    @Html.DisplayNameFor(model => model.Slidermodel.ImageId)
                </th>*@

@*<th>
        @Html.DisplayNameFor(model => model.imageName)
    </th>

    <th>
        @Html.DisplayNameFor(model => model. PartnersModel partnersModel = new PartnersModel();photoOrder)
    </th>*@

@*<th>Date<id="date"></th>*@
@*<style>
                n = new Date();
                y = n.getFullYear();
                m = n.getMonth() + 1;
                d = n.getDate();
                document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
            </style>




        </tr>
    </thead>
    </table>*@

<div class="form-group" style="text-align:center; margin-top:15px;">
    <a href="/AfterLogin/Home">
        <button type="submit" style="color: #fff; background-color: #10244c; padding: 0.5rem 7rem; border-color: #10244c " class="btn btn-primary">Upload Photo</button>
</div>


<h2>Settings:</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Slidermodel.ImageId)*@
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.imageName)*@
            </th>

            <th>
                @*@Html.DisplayNameFor(model => model.photoOrder)*@
            </th>

            <th>Date<id ="date"></th>
            @*<style>
                                n = new Date();
                                y = n.getFullYear();
                                m = n.getMonth() + 1;
                                d = n.getDate();
                                document.getElementById("date").innerHTML = m + "/" + d + "/" + y;
                            </style>




                        </tr>
                    </thead>
                    </table>

                <div class="form-group" style="text-align:center; margin-top:15px;"> <a href="/AfterLogin/Home">
                    <button type="submit" style="color: #fff; background-color: #10244c; padding: 0.5rem 7rem; border-color: #10244c " class="btn btn-primary">Upload Photo</button>
                </div>



                <form asp-action="EventFilter" asp-controller="AfterLogin">

                    <table class="table">
                        <thead>
                            <tr>
                                @*<th>
                                        @Html.DisplayNameFor(model => model.Eventmodel.EventsId)
                                    </th>*@
            @*<th>
                        @Html.DisplayNameFor(model => model.Eventmodel.CreatedByUserId)
                    </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slidermodel.PageImagesId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slidermodel.ImageId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Slidermodel.SiteMenuId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Usermodel.role)
                </th>

                <th></th>
                            </tr>
                        </thead>

                    </table>
                </form>*@
